# Copy this file to terraform.tfvars and fill in your values.

# GitHub fine-grained personal access token(PAT). Resource owner should be your organization. Requires:
# - Repository access: Public repositories
# - Organizations - Read/Write to Secrets
# - Organizations - Read/Write to Variables
github_token = "your_github_personal_access_token_here"

# GitHub organisation name. Should be the resource owner of the PAT.
github_organization = "your-github-organization"
