# Copy this file to terraform.tfvars and fill in your values.

# DigitalOcean API token. Requires:
# - Read/Write access to Projects
# - Read/Write access to Spaces (Object Storage)
# - Read/Write access to Spaces Keys
do_token = "your_digitalocean_api_token_here"

# DigitalOcean region (defaults to "nyc1"). Will be the region of created resources such as the remote state bucket
region = "ams3"  # Options: nyc1, nyc2, nyc3, sfo1, sfo2, sfo3, tor1, ams2, ams3, fra1, lon1, sing1, sgp1, blr1

# Project name.
# IMPORTANT: If you change this, also make sure to change the s3 backend configuration(backend.hcl) bucket,
# since the remote state bucket name is derived partly from the project_name. 02-github-organization/main.tf and
# 03-github-foundation-repo/main.tf also use the same remote bucket name.
project_name = "Organisation Infrastructure"

# Project description, purpose, and environment.
project_description = "Shared infrastructure for organisation-wide resources"
project_purpose = "Hold Organization Resources such as remote terraform state, which are shared throughout the organisation."
project_environment = "production"